In [1]:
import pandas as pd

In [3]:
Data_2017 = pd.read_excel("final.xlsx",sheetname=0)

In [4]:
Data_2017.head()

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,1st source link,2nd source link,3rd source,source name
1,AOL,American Online,A former America Online software engineer stol...,2004,92000000.0,web,inside job,NaN,92000000,Just Email Addresses/Online Information,http://money.cnn.com/2004/06/23/technology/aol...,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
2,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,2005,125000.0,financial,poor security,NaN,130000,SSN/Personal Details,http://abcnews.go.com/Technology/story?id=2160...,NaN,NaN,ABC
3,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,2005,200000.0,financial,lost / stolen device,NaN,200000,SSN/Personal Details,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN
4,Citigroup,NaN,Blame the messenger! A box of computer tapes c...,2005,3900000.0,financial,lost / stolen device,y,3900000,Credit card Information,http://www.nytimes.com/2005/06/07/business/07d...,NaN,NaN,NY Times
5,Cardsystems Solutions Inc.,"Third-party payment processor for Visa, Master...",CardSystems was fingered by MasterCard after i...,2005,40000000.0,financial,hacked,y,40000000,Credit card Information,http://www.msnbc.msn.com/id/8260050/ns/technol...,NaN,NaN,MSNBC

In [5]:
columns_to_drop = ['alternative name', 'story', 'interesting story', 'UNUSED' , 'UNUSED.1', 'Exclude', 'Unnamed: 13', '1st source link', '2nd source link', '3rd source', 'source name']
Data_2017 = Data_2017[[col for col in Data_2017.columns if col not in columns_to_drop]]

In [6]:
Data_2017.head()

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK,NO OF RECORDS STOLEN,DATA SENSITIVITY
1,AOL,2004,92000000.0,web,inside job,92000000,Just Email Addresses/Online Information
2,Automatic Data Processing,2005,125000.0,financial,poor security,130000,SSN/Personal Details
3,Ameritrade Inc.,2005,200000.0,financial,lost / stolen device,200000,SSN/Personal Details
4,Citigroup,2005,3900000.0,financial,lost / stolen device,3900000,Credit card Information
5,Cardsystems Solutions Inc.,2005,40000000.0,financial,hacked,40000000,Credit card Information

In [7]:
NullRows = Data_2017[Data_2017.isnull().any(axis=1)]

In [8]:
NullRows

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK,NO OF RECORDS STOLEN,DATA SENSITIVITY
147,OVH,2013,NaN,web,hacked,500000,SSN/Personal Details
163,UbiSoft,2013,NaN,gaming,hacked,58000000,SSN/Personal Details

In [9]:
Data_2017['records lost'] = Data_2017['records lost'].fillna(value=Data_2017['NO OF RECORDS STOLEN'])

In [10]:
del Data_2017['NO OF RECORDS STOLEN']

In [11]:
Data_2017.drop(Data_2017.index[:1], inplace=True)

In [12]:
Data_2017.loc[Data_2017['YEAR'] == 0, 'YEAR'] = 2004
Data_2017.loc[Data_2017['YEAR'] == 1, 'YEAR'] = 2005
Data_2017.loc[Data_2017['YEAR'] == 2, 'YEAR'] = 2006
Data_2017.loc[Data_2017['YEAR'] == 3, 'YEAR'] = 2007
Data_2017.loc[Data_2017['YEAR'] == 4, 'YEAR'] = 2008
Data_2017.loc[Data_2017['YEAR'] == 5, 'YEAR'] = 2009
Data_2017.loc[Data_2017['YEAR'] == 6, 'YEAR'] = 2010
Data_2017.loc[Data_2017['YEAR'] == 7, 'YEAR'] = 2011
Data_2017.loc[Data_2017['YEAR'] == 8, 'YEAR'] = 2012
Data_2017.loc[Data_2017['YEAR'] == 9, 'YEAR'] = 2013
Data_2017.loc[Data_2017['YEAR'] == 10, 'YEAR'] = 2014
Data_2017.loc[Data_2017['YEAR'] == 11, 'YEAR'] = 2015
Data_2017.loc[Data_2017['YEAR'] == 12, 'YEAR'] = 2016
Data_2017.loc[Data_2017['YEAR'] == 13, 'YEAR'] = 2017
Data_2017.loc[Data_2017['YEAR'] == 14, 'YEAR'] = 2017

In [13]:
Data_2017.loc[Data_2017['DATA SENSITIVITY'] == 1, 'DATA SENSITIVITY'] = 'Just email address/Online information'
Data_2017.loc[Data_2017['DATA SENSITIVITY'] == 20, 'DATA SENSITIVITY'] = 'SSN/Personal details'
Data_2017.loc[Data_2017['DATA SENSITIVITY'] == 300, 'DATA SENSITIVITY'] = 'Credit card information'
Data_2017.loc[Data_2017['DATA SENSITIVITY'] == 4000, 'DATA SENSITIVITY'] = 'Email password/Health records'
Data_2017.loc[Data_2017['DATA SENSITIVITY'] == 50000, 'DATA SENSITIVITY'] = 'Full bank account details'
Data_2017.loc[Data_2017['DATA SENSITIVITY'] == '20', 'DATA SENSITIVITY'] = 'SSN/Personal details'
Data_2017.loc[Data_2017['DATA SENSITIVITY'] == '300', 'DATA SENSITIVITY'] = 'Credit card information'
Data_2017.loc[Data_2017['DATA SENSITIVITY'] == 3, 'DATA SENSITIVITY'] = 'Credit card information'

In [14]:
Data_2017.to_csv('Data_Lab2.csv', index=False, encoding='utf-8')